<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{title}">Insert title here</title>
<!-- JQuery library -->
<script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link href="/css/survey.css" rel="stylesheet" th:href="@{/css/survey.css}" />
</head>
<body>
<header th:insert="main.html :: header"> </header>
<div class="container">
<h1 th:text="#{title.anomalies}">Anomalies</h1>
<div th:if="${alert != null}">
	<div id="info" th:if="${alert.level} == 1" class="alert alert-info" th:text="${alert.message}"></div>
	<div id="info" th:if="${alert.level} == 2" class="alert alert-warning" th:text="${alert.message}"></div>
	<div id="info" th:if="${alert.level} == 3" class="alert alert-danger" th:text="${alert.message}"></div>
</div>
	
<form th:object="${anomaly}" method='POST' action="/anomalies">
	<input type="hidden" name="action" id="action" value="add">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="code" th:text="#{label.code}"></label>
				<input th:field="*{code}" type="text" name="code" id="code" class="form-control">
				<span class="valid-field" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</span>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="name" th:text="#{label.name}"></label>
				<input th:field="*{name}" type="text" name="name" id="name" class="form-control">
				<span class="valid-field" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label for="name" th:text="#{label.active}"></label>
				<input class="form-control" type="checkbox" th:field="*{state}" />
			</div>
		</div>
	</div>
	
	
	<div class="form-group">
		<button class="btn btn-primary" type="submit" th:text=#{button.add} >Add</button>
	</div>
</form>


<table class="table">
	<thead>
		<tr>
			<th th:text="#{label.id}"></th>
			<th th:text="#{label.code}"></th>
			<th th:text="#{label.name}"></th>
			<th th:text="#{label.created_date}"></th>
			<th th:text="#{label.created_user}"></th>
			<th th:text="#{label.active}"></th>
			<th th:text="#{label.action}"></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="anomaly : ${anomalies}">
			<td th:text="${anomaly.id}"></td>
			<td th:text="${anomaly.code}"></td>
			<td th:text="${anomaly.name}"></td>
			<td th:text="${anomaly.createdDate_toString}"></td>
			<td th:text="${anomaly.createdUser.name}"></td>
			<td th:text="${anomaly.state}"></td>
			<td>
				<a class="btn btn-primary btn-sm" th:href="@{/anomaly/update/{id}(id=${anomaly.id})}" th:text=#{button.edit} >Edit</a>
				<a class="btn btn-primary btn-sm" th:href="@{/anomaly/remove/{id}(id=${anomaly.id})}" th:text=#{button.remove} >Remove</a>
			</td>
		</tr>
	
	</tbody>
</table>

</div>


<footer th:insert="main.html :: footer"> </footer>
</body>
</html>