<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{title}">Insert title here</title>
<!-- JQuery library -->
<script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link href="/css/survey.css" rel="stylesheet" th:href="@{/css/survey.css}" />
</head>
<body>
<header th:insert="main.html :: header"> </header>
<div class="container">
<h1 th:text="#{title.collections}">Collection</h1>

<form th:object="${collection}" method='POST' action="/collections">
	<input type="hidden" name="action" id="action" value="edit">
	<input type="hidden" th:field="*{id}" name="id" id="id" >
	<input type="hidden" name="createdUser" id="createdUser" th:field="*{createdUser}" >
	<input type="hidden" name="createdDate" id="createdDate" th:field="*{createdDate}" >
	
	<div class="row">
		
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name" th:text="#{label.name}">Name</label>
				<input th:field="*{name}" type="text" name="name" id="name" class="form-control">
				<span class="valid-field" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
			</div>
		</div>
		
		<div class="col-sm-3">
			<div class="form-group">
				<label for="zone" th:text=#{label.zone}>Zone</label>
				<select id="zone"  th:field="*{zone}" class="form-control">
					<option th:each="zone : ${zones}" 
							th:value="${zone.id}" 
							th:utext="${zone.name}" 
		            />
					</select>
					<span class="valid-field" th:if="${#fields.hasErrors('zone')}" th:errors="*{department}">Department Error</span>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="client" th:text=#{label.client}>Client</label>
				<select id="client"  th:field="*{client}" class="form-control">
					<option th:each="client : ${clients}" 
							th:value="${client.id}" 
							th:utext="${client.name}" 
		            />
					</select>
					<span class="valid-field" th:if="${#fields.hasErrors('client')}" th:errors="*{department}">Department Error</span>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label for="name" th:text="#{label.active}"></label>
				<input class="form-control" type="checkbox" th:field="*{state}" />
			</div>
		</div>
	</div>
	
	
	<div class="form-group">
		<button class="btn btn-primary" type="submit" th:text=#{button.edit} >Edit</button>
		<button class="btn btn-primary" type="button" onclick="javascript:document.location.href='/collections'" th:text=#{button.cancel} >Cancel</button>
	</div>
</form>

</div>


<footer th:insert="main.html :: footer"> </footer>
</body>
</html>