<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{title}">Software Encuestas</title>
<!-- JQuery library -->
<script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link href="/css/survey.css" rel="stylesheet" th:href="@{/css/survey.css}" />
<style type="text/css">

</style>
</head>
<body>
	<header th:insert="main.html :: header"> </header>
	<div class="container">
		<div class="cards">
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/department.png">
				</div>
				<div class="legend">
					<a href="/zones" th:text="#{card.zones}">Zones</a>
				</div>
			</div>
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/client.png">
				</div>
				<div class="legend">
					<a href="/clients" th:text="#{card.clients}">Clients</a>
				</div>
			</div>
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/collector.png">
				</div>
				<div class="legend">
					<a href="/collectors" th:text="#{card.collectors}">Collectors</a>
				</div>
			</div>
			
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/parameter.png">
				</div>
				<div class="legend">
					<a href="/anomalies" th:text="#{card.anomaly_type}">Anomaly Type</a>
				</div>
			</div>
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/parameter.png">
				</div>
				<div class="legend">
					<a href="/results" th:text="#{card.result_type}">Result Type</a>
				</div>
			</div>
			
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/parameter.png">
				</div>
				<div class="legend">
					<a href="/management" th:text="#{card.management_type}">Management Type</a>
				</div>
			</div>
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/matrix.png">
				</div>
				<div class="legend">
					<a href="/collection_matrix" th:text="#{card.collection_matrix}">Collection Matrix</a>
				</div>
			</div>
			<div class="card">
				<div class="icon">
					<img alt="" src="/images/user.png">
				</div>
				<div class="legend">
					<a href="/users" th:text="#{card.user}">Users</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:insert="main.html :: footer"> </footer>
</body>
</html>